@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Maven+Pro:wght@400..900&display=swap');

:root {
    --theme-green-color: #35846E;
    --link-green-color: #055647;
    --button-bg-color: #B93857;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Maven Pro';
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

header {
    background-color: #F5F5F3;
    display: grid;
    justify-items: center;
    grid-column: 2 / 6;
    max-width: 1000px;

    > * {
        margin: 0;
        width: 100%;
        height: 100%;
        align-content: center;
        text-align-last: center;
    }

    nav {
        grid-column: span 2;
        background-color: white;
        padding: 0.5rem 0;
        box-shadow: 0px 4px 4px 0px #03382F1C;

        ul {
            display: flex;
            list-style-type: none;
            justify-content: space-around;
            margin: 0;

            a {
                text-decoration: none;
                font-size: 1.5rem;
                color: var(--link-green-color);
                font-weight: 500;
            }
        }
    }
}

.logo {
    grid-row: span 2;
    background: url(/assets/logo-hand.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.seedling {
    grid-column-start: 2;
    background-color: #9E6D52;
}

.theme-button {
    background-color: var(--theme-green-color);
    color: white;
    border-radius: 8px;
    font-size: 24px;
    font-family: 'Inter';
    font-weight: 600;
    border: thin;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 1rem;
}

.dig {
    background-color: var(--theme-green-color);
}

.cucumber {
    background: url(/assets/cucumber.jpeg);
}

.tomatoes {
    background: url(/assets/tomatoes.jpeg);
}

.tomato {
    background: url(/assets/tomato.jpeg);
}

.greens {
    background: url(/assets/greens.jpeg);
}

.turnips {
    background: url(/assets/turnips.jpeg);
}

.squash {
    background: url(/assets/flower.jpeg);
}

main {
    display: grid;
    grid-column: 2 / 6;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1000px;
    
    > * {
        grid-column: 2 / 12;
    }

    h1 {
        font-size: 48px;
        color: var(--theme-green-color);
        text-align: center;
        font-weight: 500;
    }

    article.season, article.earlier {
        display: flex;
        gap: 4rem;
        margin: 2rem 0 4rem 0;

        figure {
            background-color: var(--theme-green-color);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            
            svg {
                padding: 5rem;
            }
        }

        .sow {
            display: flex;
            flex-direction: column;
            align-self: center;

            h1 {
                text-align: left;
                color: #1E1E1E;
                font-family: 'Open Sans';
                font-size: 32px;
                font-weight: 700;
            }

            p {
                font-family: 'Open Sans';
                font-size: 16px;
                font-weight: 400;
                margin: 0;
            }

            button {
                align-self: self-end;
                margin-top: 2rem;
            }
        }
    }

    > section {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        .border {
            border-top: solid;
            border-color: var(--link-green-color);
            grid-column: 5 / 9;
        }

        h2 {
            font-size: 32px;
            font-weight: 600;
            text-align: center;
            font-family: 'Lato';
            grid-column: span 12;
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column: span 12;
            gap: 2rem;
            margin-bottom: 3rem;

            article {
                display: grid;
                grid-column: span 4;
                align-items: center;
                background-color: white;
                box-shadow: 3px 4px 4px 0px #00000040;

                h3, h4 {
                    font-family: 'Lato';
                }

                h3 {
                    font-size: 24px;
                    font-weight: 600;
                    margin-left: 1rem;
                }

                figure {
                    margin: 0;
                    grid-column: span 4;
                   
                    background-repeat: no-repeat;
                    background-size: cover;

                    svg {
                        width: 100%;
                        padding: 3rem 0;
                    }
                }

                p {
                    font-size: 16px;
                    text-align: right;
                }

                h4 {
                    font-weight: 300;
                    font-size: 16px;
                    margin-left: 1rem;
                }

                p, button {
                    grid-column-start: 4;
                    font-weight: 700;
                    margin-right: 1rem;
                }

                button {
                    background-color: var(--button-bg-color);
                    color: white;
                    font-size: 15px;
                    font-family: 'Open Sans';
                    border-radius: 9px;
                    border: thin;
                    padding: 0.5rem;
                }
            }
        }
    }

    button.theme-button {
        padding: 1rem;
        grid-column: 6 / 8;
    }

    .earlier .sow {
        .theme-button {
            align-self: flex-start;
        }
    }
}

body > main > article.earlier > figure > svg {
    padding: 5rem 7rem;
}

footer {
    display: grid;
    grid-column: 2 / 6;
    max-width: 1000px;
    padding-bottom: 5rem;
    
    .footer {
        background: url(/assets/hand-above-plants.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: grid;
        grid-column: span 2;

        section {
            opacity: 0.5;
            background-color: black;
            display: grid;
            grid-template-rows: 5fr 1fr;
            grid-row: span 2;
        }

        h1 {
            font-size: 64px;
            font-weight: 500;
            color: white;
            font-family: 'Maven Pro';
            text-align: center;
            align-content: center;
        }

        address {
            display: flex;
            justify-content: space-between;
    
            figure {
                display: flex;
                margin: 0;
                align-items: center;

                > svg {
                    margin: 0 1rem;
                }
            }
    
            h3 {
                color: white;
                font-size: 20px;
                font-weight: 400;
            }
        }
    
        .footer-logo {
            display: grid;
            grid-column-start: 2;
            grid-row: span 2;
            justify-content: center;
            align-content: center;
        }
    }

    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 24px;
        grid-column: span 2;
        background-color: white;
        font-family: 'Open Sans';
        box-shadow: 0px 4px 4px 0px #03382F1C;
        padding-bottom: 2rem;
    }
}

@media (max-width: 600px) {
    body {
        grid-template-columns: auto;
    }

    header, main, footer {
        grid-column: span 6;
    }

    header {
        grid-template-rows: 2fr 1fr;
    }

    .logo {
        grid-column: span 6;
        grid-row: span 1;
    }

    .seedling, .dig {
        grid-column: span 3;
    }

    nav {
        display: none;
    }

    main {
        > h1 {
            font-size: 24px;
        }

        article.season {
            flex-direction: column-reverse;

            figure {
                margin: 0 4rem;
            }
        }

        section.sow {
            align-items: center;

            > h1 {
                font-size: 16px;
            }

            p {
                font-size: 14px;
                text-align: center;
            }

            button.theme-button {
                align-self: center;
            }
        }

        .planted {
            .border {
                grid-column: 3 / 11;
            }

            > h2 {
                font-size: 16px;
                font-family: 'Open Sans';
                margin-top: 3rem;
            }

            .cards {
                grid-template-columns: 1fr 1fr;

                > article {
                    grid-column: span 1;
                }
            }
        }

        article.earlier {
            flex-direction: column;

            figure {
                margin: 0 4rem;
            }
        }
    }
}