:root {
    --theme-green-color: #35846E;
    --link-green-color: #055647;
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: red;
    font-family: 'Maven Pro';

    p, h2 {
        font-family: Open Sans;
    }

    h3 {
        margin: 0;
    }
}

header {
    background-color: #F5F5F3;
    grid-column: 2 / 12;
    display: grid;
    justify-items: center;

    > * {
        margin: 0;
        width: 100%;
        height: 100%;
        align-content: center;
        text-align-last: center;
    }

    nav {
        grid-column: span 2;
        align-content: start;
        margin-top: 1rem;

        ul {
            display: flex;
            list-style-type: none;
            justify-content: space-around;
            margin: 0;

            a {
                text-decoration: none;
                font-size: 1.5rem;
                color: var(--link-green-color);
                font-weight: 500;
            }
        }
    }
}

.logo {
    grid-row: span 2;
    background: url(/assets/logo-hand.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.seedling {
    grid-column-start: 2;
    background-color: #9E6D52;
}

.dig {
    background-color: var(--theme-green-color);
}

main {
    display: grid;
    grid-column: 2 / 12;

    h1 {
        font-size: 48px;
        line-height: 65.4px;
        color: var(--theme-green-color);
        justify-self: center;
    }
}

footer {
    display: grid;
    grid-column: 2 / 12;
    background: url(/assets/hand-above-plants.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;

    section {
        opacity: 0.5;
        background-color: black;
    }

    h1 {
        font-size: 64px;
        font-weight: 500;
        color: white;
        font-family: 'Maven Pro';
        text-align: center;
    }

    address {
        grid-row: 2;
        display: flex;
        justify-content: space-between;

        figure {
            display: flex;
            margin: 0;
            align-items: flex-end;
        }

        h3 {
            color: white;
            font-size: 20px;
        }

        .phone svg, .email svg {
            width: 7%;
        }
    }

    .footer-logo {
        display: grid;
        grid-column-start: 2;
        grid-row: span 2;
        justify-content: center;
        align-content: center;
    }

    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 32.68px;
        grid-column: span 2;
        width: 100%;
        height: 100%;
        background-color: white;
    }
}